<%- include('../partials/header'); %>



<div class="container" style="padding-top: 8%; margin-left: 15%;">

	<div class="col s12 m8 offset-m2 l6 offset-l1">
		<div class="card-panel blue lighten-5 z-depth-1">
			<div class="row valign-wrapper">
				<div class="col s7">
					<img src="/img.jpg" alt="" class="responsive-img">
					<!-- notice the "circle" class -->
				</div>
				<div class="col s5">
					<form method="POST" action="" name="form2">
						<div class="input-field col s8">
							<input id="email" name="email" type="email" class="validate" required="" value="">
							<label for="email">Email</label>
						</div>
						<div class="input-field col s8">
							<input id="password" name="password" type="password" class="validate" required="" value="">
							<label for="password">Password</label>
						</div>
						<div class="input-field col s8">
							<button class="btn waves-effect waves-light right" type="submit">Login
								<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>


<%- include('../partials/footer'); %>