<nav>
	<div class="nav-wrapper amber darken-3">
		<a href="/" class="brand-logo">DYNASOFT CLOUD</a>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="../customers">Employees</a></li>
			<li><a href="../settings">Settings</a></li>
			<li> <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a></li>
			<!-- Dropdown Structure -->
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="/logout">Logout</a></li>
				<li><a href="#!">two</a></li>
				<li class="divider" tabindex="-1"></li>
				<!-- <li><a href="#!">three</a></li>
				<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
				<li><a href="#!"><i class="material-icons">cloud</i>five</a></li> -->
			</ul>
		</ul>
	</div>
</nav>

<script>
	$('.dropdown-trigger').dropdown();
</script>