<%- include('../partials/header'); %>


<div class="container" style="padding-top: 3%; padding-left: 15%;">

	<div class="row">
		<form action="/customers/add" method="POST" name="form1">
			<div class="col s12">
				<blockquote>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" class="form-control" name="first_name" id="first_name" value=""
								placeholder="First Name">
							<label for="first_name">Your Name</label>
						</div>
					</div>
				</blockquote>
			</div>
			<div class="col s12">
				<blockquote>
					<div class="row">
						<div class="input-field col s6">
							<input type="email" name="email" id="email" aria-describedby="emailHelp"
								placeholder="Enter email" value="" required="" aria-required="true">
							<label for="email">Email</label>
						</div>
					</div>
				</blockquote>
			</div>
			<div class="col s12">
				<blockquote>
					<div class="row">
						<div class="input-field col s6">
							<input type="password" name="password" id="password" aria-describedby="password"
								placeholder="Enter password" value="" required="" aria-required="true">
							<label for="password">Password</label>
						</div>
					</div>
				</blockquote>
			</div>
			<div class="col s12">
				<blockquote>
					<div class="row">
						<div class="input-field col s6">
							<input type="password" name="confirmPassword" id="confirmPassword"
								aria-describedby="password" placeholder="Retype password" value="" required="" aria-required="true">
							<label for="confrimPassword" >Confirm Password</label>
						</div>
					</div>
				</blockquote>
			</div>
			<div class="col s12">
				<div class="row">
					<button class="btn waves-effect waves-light" type="submit" value="Add">Submit
						<i class="material-icons right"></i>
					</button>
				</div>
			</div>
		</form>
	</div>



	<%- include('../partials/footer'); %>